.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 128px;
    background: #202124;
}

.logo {
    font-family: 'Pretendard', sans-serif;
}

.HeaderFont {
    font-family: 'Pretendard', sans-serif;
}

.FooterFont {
    font-family: 'Pretendard', sans-serif;
}

.ProjectFont {
    font-family: 'Pretendard', sans-serif;
}

.containerMain {
    min-width: 686px;
}

.leftPanel {
    width: 320px;
    margin-right: 20px;
}

.rightPanel {
    width: 346px;
}

@media (min-width: 1281px) {

    .containerMain {
        width: 1100px;
    }

    .leftPanel {
        width: 380px;
        margin-right: 30px;
    }

    .rightPanel {
        width: 790px;
    }
    
}

.photoContainer {
    width: 686px;
    height: 387px;
}