.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 128px;
    background: #202124;
}

.logo {
    font-family: 'Pretendard', sans-serif;
}

.HeaderFont {
    font-family: 'Pretendard', sans-serif;
}

.FooterFont {
    font-family: 'Pretendard', sans-serif;
}

.ProjectFont {
    font-family: 'Pretendard', sans-serif;
}